{% extends '../base.html' %}
{% load static %}
{% block body %}
<div class="max-w-screen-xl px-4 md:px-8 mx-auto mt-10 min-h-[26rem]">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 ">Search Users</h2>
    </div>
    <form class="flex items-center md:max-w-xl mx-auto my-3" action="{% url 'search' %}">   
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input name="search" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Search" required>
        </div>
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-gray-700 rounded-lg border border-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            <span class="sr-only">Search</span>
        </button>
    </form>
    <hr />
    <!-- text - end -->

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
      <!-- person - start -->
      {% for user in users %}
      <div class="border-gray-400 border rounded-lg p-0.5">
      <div class="flex flex-col items-center cursor-pointer rounded-lg">
        <span class="inline-flex items-center justify-center h-[3.875rem] w-[3.875rem] rounded-full bg-gray-800">
            <span class="text-xl font-medium text-white leading-none capitalize">{{user.username|slice:1}}</span>
          </span>
        <div>
          <div class="text-gray-900 md:text-lg font-bold text-center capitalize">{{user.username}}</div>
        </div>
      </div>
      <form method="POST" action="{% url 'createRoom' %}">
        {% csrf_token %}
        <input type="text" value="{{user.id}}" name="userId" hidden />
      <button type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 w-full">Create Room</button>
      </form>
    </div>
      {% endfor %}
      <!-- person - end -->
    </div>
  </div>
  {% endblock body %}